.gradle/
.gradle-home/
.kotlin/
build/
/local.properties
/.idea/
.DS_Store
**/build/
*.iml
xcuserdata/
DerivedData/
**/.kotlin/

# Xcode workspace settings (user-specific)
*.xcworkspace/
project.xcworkspace/
xcshareddata/

# Xcode user state
*.xcuserstate

# iOS Assets (generated)
*.xcassets/
